@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: sans-serif;
  color: #333;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f6f9;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.5em;
  background-color: #212a3e;
}

.logo h1 {
  font-size: 8.1em;
  max-height: 5.5em;
  cursor: none;
}
.logo p {
  font-size: 8em;
  color: yellow;
}

.form {
  height: 5.8em;
  width: auto;
  background-color: #f1f6f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 0px black solid;
}

.form h2 {
  margin-top: 1px;
  font-size: x-large;
}

.input-butt {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

#selector {
  font-size: 23px;
  text-align: center;
  width: 50px;
  height: 30px;
}

#selector:hover {
  border-color: #aaa;
}

#selector:focus {
  border-color: #3366ff;
  box-shadow: 0 0 3px #3366ff;
}

#input-text {
  color: black;
  width: 220px;
  height: 30px;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: italic;
  color: #212a3e;
}

#input-text::placeholder {
  color: #9ba4b5;
  font-style: italic;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  font-family: "Inter Tight";
}

.add-button {
  height: 30px;
  width: 80px;
  font-size: 19px;
  font-weight: 500;
  background-color: #212a3e;
  color: white;
  border-radius: 20px;
  border: none;
}

.add-button:hover {
  box-shadow: 0 1px 3px black;
}

.list {
  width: auto;
  height: 22.2em;

  background-color: #f1f6f9;
}

.stats {
  width: auto;
  height: 5em;
  background-color: #212a3e;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #f1f6f9;
}

.stats p {
  margin-top: 1.1em;
  font-size: 1.4em;
}

.material-symbols-outlined {
  color: whitesmoke;
  font-size: 3.4em;
  justify-content: center;
  margin-top: 0.19em;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.list-element {
  margin-top: 15px;
  flex: 0 0 25%;
  font-size: 27px;
}

.button-x {
  background-color: #f1f6f9;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.actions{
  display: flex;
  margin-top: 285px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items:center;
}

#sort{
  height: 35px;
  border-radius: 50px;
  border: 2px #212a3e solid;
  color: black;
  width: 230px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

}

#clear{
  height: 38px;
  width: 90px;
  border-radius: 60px;
  border: 2px #212a3e solid;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #212a3e;
  margin-left: 10px;
}

#clear:hover {
  box-shadow: 0 1px 4px black;
}

.contents{
  min-height: 10px;
  max-height: 10px;
}